{% extends 'Main/Login/layout.html' %}
{% load static %}

{% block section-1 %}
<!-- <br><br><br> -->
<div id="homeCon" class ="row">
    <div id="spacerleft" class="col">
    </div>
    <div id="textContainer" class="col-4">
        <h1 class="projTitle">WEB BASED SALES MANAGEMENT AND INVENTORY SYSTEM FOR A RETAIL STORE</h1>
        <p class="text1">Harness the potential of Accounting & Sales Management and become a data driven organization.</p>
        <div class ="home-btns">
            <div class ="row">
                {% if request.user.is_authenticated %}
                    <h5>{{message}}</h5>
                    <div id="btnSignUp" class ="col"> 
                        <a href ="{% url 'dashboard' %}"><button type="button" class="btn btn-success shadow-sm rounded">Go to Dashboard</button></a>
                    </div>
                    <div id="btnLogin" class ="col"> 
                        <a href ="{% url 'logout' %}"><button type="button" class="btn btn-danger shadow-sm rounded">Logout</button></a>
                    </div>
                {% else %}
                    <div id="btnLogin" class ="col"> 
                        <a href ="{% url 'login' %}"><button type="button" class="btn btn-success shadow-sm rounded">Login</button></a>
                    </div>
                    <div id="btnSignUp" class ="col">
                        <a href ="{% url 'register' %}"><button  type="button" class="btn btn-light shadow-sm rounded">Sign Up</button></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="bigLogoCon" class ="col-4 logo-cont">
            <img src ="{% static 'main/assets/images/logov2.png' %}" class ="home-logo center-block">
    </div>
    <div id="spacerright" class ="col">
    </div>
</div>

{% endblock %}