{% extends 'Main/Login/layout.html' %}

{% block section-1 %}
<br>
<div class="row justify-content-center">
    <div class="col-10 bg-light border-opacity-50 rounded-2 px-5 pb-4 shadow bg-body-tertiary rounded" 
         style="border-style: solid;
           border-color: #02BB7D;
           border-width: 1pt;">
        <h3 class="mt-3 text-center fs-3 fw-bold">Register</h3>
        <hr class ="my-3">
        <form method="post">
            {% csrf_token %}
            <div class ="form-group was-validated" >
                <div class="row">
                    <div class="col-4">
                        <div class ="d-flex pb-2">
                            <h4 class="fw-bold"> Personal Information </h4>
                        </div>
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control input-sm" id="userName" placeholder="Your Username" minlength="6" name="username" required>
        
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control input-sm" id="firstName" placeholder="Your First Name" name="firstName" required>
        
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control input-sm" id="lastName" placeholder="Your Last Name" name="lastName" required>
        
                        <label for="cusAddr" class="form-label">Address</label>
                        <input type="text" class="form-control" id="cusAddr" placeholder="Address" name="address" required>
                    </div>

                    <div class="col-4">
                        <div class ="d-flex pb-2">
                            <h4 class="fw-bold"> Store Information</h4>
                        </div>
        
                        <label for="storeName" class="form-label">Store Name</label>
                        <input type="text" class="form-control" id="storeName" placeholder="Your Store Name" name="storeName" required>
        
                        <label for="storeAddress" class="form-label">Store Address</label>
                        <input type="text" class="form-control" id="storeAddress" placeholder="Your Store Address" name="storeAddress" required>
                    </div>

                    <div class="col-4">
                        <div class ="d-flex pb-2">
                            <h4 class="fw-bold"> Login Information</h4>
                        </div>
        
                        <label for="emailAddr" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailAddr" placeholder="emailaddress@example.com" name="email" required>
        
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Minimum of 6 characters" name="password" minlength="6" required>
        
                        <label for="confirmPass" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPass" placeholder="Confirm your password" name="confirmPass" required>
                        
                        <br>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input success" id="flexCheckDefault" required>
                            <label class="form-check-label" for="flexCheckDefault"> 
                                <p class="terms">
                                    By checking this I understand the <a href="" data-bs-toggle="modal" data-bs-target="#termsModal">Terms and Conditions</a>
                                    and have read the <a href="" data-bs-toggle="modal" data-bs-target="#dataPrivacyModdal">Data Privacy Policy</a>.
                                </p>
                            </label>

                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Check this checkbox to continue.</div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class ="d-flex justify-content-end mt-2">
                <input type="submit" class="btn btn-success mx-2" style="background-color: #02BB7D; border: none;" value="Submit">
                <button type="button" class="btn btn-danger"  style="background-color: #e24a6b; border: none;" onclick="emptyAllFields()">Reset Fields</button>
            </div>
        </form>
    </div>



    <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="termsModalLabel">Terms and Conditions</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1  style="font-size: 40px !important;">Terms and Conditions</h1>
                <br>

                <p>
                    Please read these terms and conditions carefully before using our inventory system.
                    By accessing or using the system, you agree to be bound by these terms and conditions.
                    If you do not agree with any part of these terms, please refrain from using the system.
                </p>
                <br>
            
                <h4 class="terms-heading">1. System Usage:</h4>
                <p>
                    a. The inventory system is provided on an "as is" basis, and we do not guarantee its availability, accuracy, or
                    functionality.
                </p>
                <p>
                    b. You are responsible for maintaining the confidentiality of your account and any activities that occur under
                    your account.
                </p>
                <p>c. You agree not to use the inventory system for any illegal or unauthorized purposes.</p>
            
                <h4 class="terms-heading">2. Intellectual Property:</h4>
                <p>a. All content and materials provided in the inventory system, including but not limited to software, graphics,
                    logos, and design, are the property of their respective owners and protected by intellectual property laws.</p>
                <p>
                    b. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create
                    derivative works from, transfer, or sell any information, software, products, or services obtained from the
                    inventory system without prior written consent.
                </p>
            
                <h4 class="terms-heading">3. Data Privacy:</h4>
                <p>a. We respect your privacy and handle your data in accordance with applicable data protection laws.</p>
                <p>
                    b. By using the inventory system, you agree to the collection, use, and storage of your data as outlined in
                    our Privacy Policy.
                </p>
            
                <h4 class="terms-heading">4. Limitation of Liability:</h4>
                <p>
                    a. We shall not be liable for any direct, indirect, incidental, consequential, or exemplary damages arising
                    from the use or inability to use the inventory system.
                </p>
                <p>b. We shall not be responsible for any interruptions, errors, or defects in the system or any delays in its operation.</p>
            
                <h4 class="terms-heading">5. Termination:</h4>
                <p>
                    a. We reserve the right to suspend or terminate your access to the inventory system at any time and for any
                    reason without notice.
                </p>
                <p>
                    b. Upon termination, you must immediately cease all use of the system and return or destroy any materials
                    obtained from it.
                </p>
            
                <h4 class="terms-heading">6. Governing Law:</h4>
                <p>
                    These terms and conditions shall be governed by and construed in accordance with the laws of RA 10175.
                    Any disputes arising out of or relating to these terms and conditions shall be subject to the exclusive
                    jurisdiction of the courts in the Philippines.
                </p>
            
                <br>
                <p>
                    Please note that these terms and conditions are subject to change without prior notice.
                    It is your responsibility to review them periodically for any updates or modifications.
                    If you continue to use the inventory system after any changes, it will be considered as your acceptance
                    of the revised terms and conditions.
                </p>
                <br>
                <p>
                    If you have any questions or concerns about these terms and conditions, please contact us at accsysadmin@gmail.com.
                </p>
                <br>
                <h6 id="last-updated-terms">Last updated: June 18, 2023</h6>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="dataPrivacyModdal" tabindex="-1" aria-labelledby="dataPrivacyModdalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="dataPrivacyModdalLabel">Data Privacy Policy</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1  style="font-size: 40px !important;">Data Privacy Policy</h1>
                <br>

                <p>
                    We are aware of our responsibility to protect your personal data. 
                    We act in accordance with the principles introduced by 
                    <a href="https://privacy.gov.ph/data-privacy-act/">Data Privacy Act of 2012</a>  
                    and the general principle on good faith in the processing of personal data.
                </p>
                <br>

                <p>
                    We determine clearly and precisely its legitimate and lawful purpose for processing 
                    personal data and process personal data to the extent necessary and in connection 
                    with the products and services we offer.
                </p>
                <br>

                <p>
                    We transfer your personal data in compliance with applicable laws and only when 
                    it is necessary. We take required technical and administrative measures to protect 
                    your personal data and also we ensure that Data Processors take administrative and 
                    technical measures regarding data security by signing non-disclosure agreements.
                </p>
                <br>
                
                <br>
                <h6 id="last-updated-terms">Last updated: June 22, 2023</h6>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

</div>
{% endblock %}