{% extends 'Main/Login/layout.html' %}

{% block section-1 %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% if error %}
    <div class="modal fade" id="onload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registration Failed</h5>
              <button type="button" onclick="history.back()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>{{error}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" onclick="history.back()" class="btn btn-success" data-bs-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    <script type="text/javascript">
        window.onload = () => {
            $('#onload').modal('show');
        }
    </script>
{% endif %}

{% if message %}
    <div class="modal fade" id="onload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registration Success</h5>
              <button type="button" onclick="window.location.href='{% url 'login' %}'" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>{{message}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" onclick="window.location.href='{% url 'login' %}'" class="btn btn-success" data-bs-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
    <script type="text/javascript">
        window.onload = () => {
            $('#onload').modal('show');
        }
    </script>
{% endif %}



<br>
<div class="row justify-content-center">
    <div class="col-10 bg-light border-opacity-50 rounded-2 px-5 pb-4 shadow bg-body-tertiary rounded" 
         style="border-style: solid;
           border-color: #02BB7D;
           border-width: 1pt;">
        <h3 class="mt-3 text-center fs-3 fw-bold">Register</h3>
        <hr class ="my-3">
        <form method="post">
            {% csrf_token %}
            <div class ="form-group" >
                <div class="row">
                    <div class="col-4">
                        <div class ="d-flex pb-2">
                            <h4 class="fw-bold"> Personal Information </h4>
                        </div>
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control input-sm" id="userName" placeholder="Your Username" minlength="6" name="username" required>
        
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control input-sm" id="firstName" placeholder="Your First Name" name="firstName" required>
        
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control input-sm" id="lastName" placeholder="Your Last Name" name="lastName" required>
        
                        <label for="cusAddr" class="form-label">Address</label>
                        <input type="text" class="form-control" id="cusAddr" placeholder="Address" name="address" required>
                    </div>

                    <div class="col-4">
                        <div class ="d-flex pb-2">
                            <h4 class="fw-bold"> Store Information</h4>
                        </div>
        
                        <label for="storeName" class="form-label">Store Name</label>
                        <input type="text" class="form-control" id="storeName" placeholder="Your Store Name" name="storeName" required>
        
                        <label for="storeAddress" class="form-label">Store Address</label>
                        <input type="text" class="form-control" id="storeAddress" placeholder="Your Store Address" name="storeAddress" required>
                    </div>

                    <div class="col-4">
                        <div class ="d-flex pb-2">
                            <h4 class="fw-bold"> Login Information</h4>
                        </div>
        
                        <label for="emailAddr" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="emailAddr" placeholder="emailaddress@example.com" name="email" required>
        
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Minimum of 6 characters" name="password" minlength="6" required>
        
                        <label for="confirmPass" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPass" placeholder="Confirm your password" name="confirmPass" required>
                        
                        <br>
                        <div class="form-check was-validated">
                            <input type="checkbox" class="form-check-input success" id="flexCheckDefault" required>
                            <label class="form-check-label" for="flexCheckDefault"> 
                                <p class="terms">
                                    By checking this I understand the <a href="" data-bs-toggle="modal" data-bs-target="#termsModal">Terms and Conditions</a>
                                    and have read the <a href="" data-bs-toggle="modal" data-bs-target="#dataPrivacyModdal">Data Privacy Policy</a>.
                                </p>
                            </label>
                            <!-- <div class="valid-feedback">Valid.</div> -->
                            <div class="invalid-feedback">Check this checkbox to continue.</div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class ="d-flex justify-content-end mt-2">
                <input type="submit" class="btn btn-success mx-2" style="background-color: #02BB7D; border: none;" value="Submit">
                <button type="button" class="btn btn-danger"  style="background-color: #e24a6b; border: none;" onclick="emptyAllFields()">Reset Fields</button>
            </div>
        </form>
    </div>

    <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="termsModalLabel">Terms and Conditions</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1  style="font-size: 40px !important;" class="text-center">Terms and Conditions</h1>
                <br>

                <div class="container contentContainer">
                  <p>
                    Please read these terms and conditions carefully before using our inventory system.
                    By accessing or using the system, you agree to be bound by these terms and conditions.
                    If you do not agree with any part of these terms, please refrain from using the system.
                </p>
                <br>
            
                <h4 class="terms-heading">1. System Usage:</h4>
                <div class="contentContainer2">
                  <p>
                    a. The inventory system is provided on an "as is" basis, and we do not guarantee its availability, accuracy, or
                    functionality.
                  </p>
                  <p>
                      b. You are responsible for maintaining the confidentiality of your account and any activities that occur under
                      your account.
                  </p>
                  <p>c. You agree not to use the inventory system for any illegal or unauthorized purposes.</p>
                </div>
                
            
                <h4 class="terms-heading">2. Intellectual Property:</h4>
                <div class="contentContainer2">
                  <p>a. All content and materials provided in the inventory system, including but not limited to software, graphics,
                    logos, and design, are the property of their respective owners and protected by intellectual property laws.</p>
                  <p>
                      b. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create
                      derivative works from, transfer, or sell any information, software, products, or services obtained from the
                      inventory system without prior written consent.
                  </p>
                </div>
                
            
                <h4 class="terms-heading">3. Data Privacy:</h4>
                <div class="contentContainer2">
                  <p>a. We respect your privacy and handle your data in accordance with applicable data protection laws.</p>
                  <p>
                      b. By using the inventory system, you agree to the collection, use, and storage of your data as outlined in
                      our Privacy Policy.
                  </p>
                </div>

                <h4 class="terms-heading">4. Limitation of Liability:</h4>
                <div class="contentContainer2">
                  <p>
                    a. We shall not be liable for any direct, indirect, incidental, consequential, or exemplary damages arising
                    from the use or inability to use the inventory system.
                  </p>
                  <p>b. We shall not be responsible for any interruptions, errors, or defects in the system or any delays in its operation.</p>
                </div>

                
            
                <h4 class="terms-heading">5. Termination:</h4>
                <div class="contentContainer2">
                  <p>
                    a. We reserve the right to suspend or terminate your access to the inventory system at any time and for any
                    reason without notice.
                  </p>
                  <p>
                      b. Upon termination, you must immediately cease all use of the system and return or destroy any materials
                      obtained from it.
                  </p>
                </div>
            
                <h4 class="terms-heading">6. Governing Law:</h4>
                <div class="contentContainer2">
                  <p>
                    These terms and conditions shall be governed by and construed in accordance with the laws of RA 10175.
                    Any disputes arising out of or relating to these terms and conditions shall be subject to the exclusive
                    jurisdiction of the courts in the Philippines.
                  </p>
                </div>

                <br>
                <p>
                    Please note that these terms and conditions are subject to change without prior notice.
                    It is your responsibility to review them periodically for any updates or modifications.
                    If you continue to use the inventory system after any changes, it will be considered as your acceptance
                    of the revised terms and conditions.
                </p>
                <br>
                <p>
                    If you have any questions or concerns about these terms and conditions, please contact us at <i>teamanalytech@gmail.com</i>.
                </p>

                <br>
                <h6 id="last-updated-terms">Last updated: July 04, 2023</h6>

                </div>

                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="dataPrivacyModdal" tabindex="-1" aria-labelledby="dataPrivacyModdalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="dataPrivacyModdalLabel">Data Privacy Policy</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1 class="text-center" style="white-space:nowrap;font-size: 40px !important;">Data Privacy Policy for ACCSYS</h1>
                <br>

                <div class="container contentContainer">

                  <p>
                    This Data Privacy Policy outlines the practices and procedures implemented by 
                    The Team Analytech to protect the privacy and security of personal data 
                    collected through our inventory and sales management system. We are committed to complying with 
                    the provisions of the
                      <a href="https://privacy.gov.ph/data-privacy-act/">Data Privacy Act of 2012.</a> 
                  </p>
                  
                  <br>
                  <h4 class="terms-heading">1. Collection and Use of Personal Data</h4>
                  <div class="contentContainer2">

                    <h5>
                      1.1 Personal Data Collected
                    </h5>
                    
                    <div class="contentContainer2">
                      <p>
                        In the course of using our inventory and sales management system, we may collect the following 
                        personal data from retail stores and their authorized personnel:
                      </p>
                      <div class="contentContainer2">
                        
                        <ul>
                          <li>
                            <span style="font-weight: bold!important;">Username:</span>  Required for system login and identification. 
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Password:</span>  Encrypted and securely stored for user authentication. 
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Email Address:</span>  Required for communication, system notifications, and password recovery. 
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Full Name:</span>  Required for user identification and communication purposes. 
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Personal Address:</span>  Required, provided by the user for contact purposes. 
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Store Name:</span>  Required to associate the user with the respective store. 
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Store Address:</span>  Required for accurate store identification and location. 
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Picture:</span>  Optional profile picture for user identification purposes. 
                          </li>
                        </ul>

                      </div>
                    </div>

                    <h5>
                      1.2 Purpose of Data Collection
                    </h5>
                    
                    <div class="contentContainer2">
                      <p>
                        We collect and process the aforementioned personal data for the following purposes:
                        User authentication and access control to the inventory and sales management system.
                        Communication with users regarding system updates, notifications, and support.
                        Accurate identification and association of users with their respective stores.
                        Personalization of user experience within the inventory and sales management system.
                        Compliance with legal obligations and regulatory requirements.

                      </p>
                    </div>

                  

                  </div>

                  <br>
                  <h4 class="terms-heading">2. Data Protection and Security Measures</h4>
                  <div class="contentContainer2">
                    <h5>
                      2.1 Confidentiality and Security
                    </h5>
                    <div class="contentContainer2">
                      <p>
                        We implement technical and organizational measures to ensure the confidentiality, integrity, and security of 
                        personal data collected. These measures include but are not limited to:
                        <ul>
                          <li>
                            Secure transmission and storage of personal data using encryption protocols.
                          </li>
                          <li>
                            Regular security assessments and updates to safeguard against unauthorized access.
                          </li>
                          <li>
                            Restricted access controls and permissions to limit data access to authorized personnel.
                          </li>
                          <li>
                              Employee training on data protection and security best practices.
                          </li>
                        </ul>
                      </p>
                    </div>

                    <h5>
                      2.2 Third-Party Data Processors
                    </h5>
                    <div class="contentContainer2">
                      <p>
                        We may engage third-party service providers to assist with data processing 
                        activities. These providers will be bound by contracts or agreements to ensure 
                        the protection and security of personal data in accordance with applicable laws 
                        and regulations.
                      </p>
                    </div>

                  </div>

                  <br>
                  <h4 class="terms-heading">3. Data Retention and Disposal</h4>
                  <div class="contentContainer2">
                    <p>
                      We retain personal data for the duration necessary to fulfill the purposes for which it was collected, unless 
                      a longer retention period is required or permitted by law. Personal data will be securely disposed of in a manner 
                      that prevents unauthorized access or disclosure.
                    </p>
                  </div>

                  <br>
                  <h4 class="terms-heading">4. User Rights and Consent</h4>
                  <div class="contentContainer2">
                    <h5>4.1 User Consent</h5>
                    <div class="contentContainer2">
                      <p>
                        By using our inventory and sales management system, users consent to the collection, processing, 
                        and storage of their personal data as described in this Data Privacy Policy. Users have the right to 
                        withdraw their consent at any time by contacting us at <i>teamanalytech@gmail.com</i>. 
                        However, withdrawing consent may result in the inability to access certain features or services provided by the system.
                      </p>
                    </div>
                    <h5>4.2 User Rights</h5>
                    <div class="contentContainer2">
                      <p>
                        Users have the following rights regarding their personal data:
                      </p>
                        <ul>
                          <li>
                            <span style="font-weight: bold!important;">Right to Access:</span>  Users can request access to their personal 
                            data and receive information on how it is being processed. 
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Right to Rectification:</span>  Users have the right to request the 
                            correction of inaccurate or incomplete personal data. 
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Right to Restrict Processing:</span> Users have the right to request 
                            the restriction or limitation of the processing of their personal data.
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Right to Erasure:</span> Users can request the deletion or removal 
                            of their personal data, subject to legal retention requirements.
                          </li>
                          <li>
                            <span style="font-weight: bold!important;">Right to Data Portability:</span>  Users can request the transfer 
                            of their personal data to another organization in a structured, commonly used, and machine-readable format.
                          </li>
                        </ul>
                        <p>
                          To exercise these rights or make inquiries about the processing of personal data, users may contact us 
                          <i>teamanalytech@gmail.com</i>.
                        </p>
                    </div>
                    
                  </div>

                  <br>
                  <h4 class="terms-heading">5. Developer Obligations</h4>
                  <div class="contentContainer2">
                    <h5>5.1 Confidentiality and Security</h5>
                    <div class="contentContainer2">
                      <p>
                        Developers who have access to personal data through the inventory and 
                        sales management system are required to maintain the confidentiality and 
                        security of the data. Developers must abide by strict data protection policies, 
                        sign confidentiality agreements, and undergo appropriate training to ensure compliance.
                      </p>
                    </div>
                    <h5>5.2 Data Usage Limitation</h5>
                    <div class="contentContainer2">
                      <p>
                        Developers are only authorized to access and process personal data for the purpose of maintaining, 
                        improving, or providing technical support for the inventory and sales management system. Any 
                        unauthorized use, disclosure, or sharing of personal data is strictly prohibited.
                      </p>
                    </div>
                    <h5>5.3 Data Retention and Disposal</h5>
                    <div class="contentContainer2">
                      <p>
                        Developers must adhere to data retention and disposal policies defined by our organization. Personal data 
                        should not be retained for longer than necessary and must be securely disposed of in accordance with 
                        applicable regulations.
                      </p>
                    </div>
                  </div>

                  <br>
                  <h4 class="terms-heading">6. Data Breach Notification</h4>
                  <div class="contentContainer2">
                    <p>
                      In the event of a data breach that may pose a risk to the rights and freedoms of 
                      individuals, we will promptly notify affected individuals and the National Privacy 
                      Commission (NPC) in accordance with legal requirements.
                    </p>
                  </div>

                  <br>
                  <h4 class="terms-heading">7. Changes to the Data Privacy Policy</h4>
                  <div class="contentContainer2">
                    <p>
                      We may update this Data Privacy Policy from time to time to reflect changes in 
                      our practices or legal obligations. We encourage users to review this policy 
                      periodically for any updates.
                    </p>
                  </div>

                  <br>
                  <h4 class="terms-heading">Contact Information</h4>
                  <div class="contentContainer2">
                    <p>
                      If you have any questions, concerns, or requests regarding this Data Privacy Policy 
                      or our privacy practices, please contact us at <i>teamanalytech@gmail.com</i>.
                    </p>
                  </div>

                  <br>
                <h6 id="last-updated-terms">Last updated: July 04, 2023</h6>

                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>

</div>
{% endblock %}