body 

{

    /* ff 3.6+ */
    background:-moz-linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2F1FF', endColorstr='#FFFFFF', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);

}

#homeCon{
    margin-top: 9% !important;
}


.home-btns {
    padding-top: 5vh;
    /* overflow: hidden; */
    border-collapse: collapse;
}
.home-btns button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px !important;
    width: 50%;
}
.projTitle{
    /* font-size: 37px !important; */
    font-weight: bold !important;
}
#btnLogin.col{
    padding-left: 2% !important;
}
#btnSignUp{
    margin-left: -15% !important;
    white-space: nowrap;
}
.btn-success {
    background-color: #02BB7D !important;
    border: 0 !important;
}
h1 {
    font-weight: bolder !important;
    font-size: 2.4rem !important;
    color: #160637 !important;
}
.text1{
    /* width: 30% !important; */
    padding-top: 1%;
    padding-right: 18%;
    color: #8989A2;
}
.logo-cont {
    align-items: center!important;
}
.home-logo {
    position: relative;
    width: 22vw;
    padding-top: 0;
    align-items: start;
    bottom: 25%;
}
#spacerleft{
    margin-right: 7% !important;
}
@media (min-width: 1440p),(max-width:1624px) {
    .home-btns{
        padding-top: 1vh !important;
    }
}