body 

{

    /* ff 3.6+ */
    background:-moz-linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2F1FF', endColorstr='#FFFFFF', GradientType=1 );

    /* ie 10+ */
    background:-ms-linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(2deg, rgba(226, 241, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);

}


.home-btns {
    padding-top: 10vh;
}
.home-btns button {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}
.logo-cont {
    align-items: center!important;
}
.home-logo {
    position: relative;
    height: 20vw;
    padding-top: 0;
    align-items: start;
}