@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/metropolis');
@import url('https://fonts.cdnfonts.com/css/take-me-out');

/* Inventory */
.inventoryCardBox
{
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px 0px rgba(0, 0, 0, 0.08);
}
.inventoryCardBox h2
{
    font-weight: 600;
    font-family: Metropolis;
    color: var(--blue);
}

:root
{
    --blue: #1B53EE;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
.tableInventory{
    height: 100px !important;
    overflow-y: scroll !important;
}
.cardHeader
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
}
#noteFormat {
    text-align: end;
    justify-content: end;
}