
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --blue: #1B53EE;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body
{
    height: 100vh;
    width: 100vw;
    /* background: rgb(255,255,255); */
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(241,248,255,1) 29%, rgba(226,241,255,1) 100%);
}
html, body
{
    overflow-x: hidden;
}
#navbar{
    padding: 1% 10%;
}
.navbar
{
    width: 100%;
}
input[type=text], input[type=email], input[type=password] {
    margin-bottom: 9px;
}
hr {
    margin: auto!important;
    max-width: 50%;
}
.navLogoImg{
    width: 65px;
}
.termsAndCond{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    height: 20px;
}
.terms{
    position: relative;
    top: 15%;
    /* white-space: nowrap; */
    font-size: 15px;
}
#vbtn-radio1{
    width: 40px !;
}