
.profileCardBox
{
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 7px 25px 0px rgba(0, 0, 0, 0.08);
}
.profileCardBox h2
{
    font-weight: 600;
    font-family: Metropolis;
    color: var(--blue);
}
.top-buffer { margin-top:30px; }

* {
    font-family: 'Inter';
}
.prof-buttons {
    display: flex;
    justify-content: flex-end;
}
.prof-buttons button {
    margin-left: 10px;
    width: 10vw;
}
.uploadField {
    max-width: 25%;
}
.imgprev {
    display: flex;
    align-items: center;
    justify-content: center;
}