{% extends 'Main/Landing/mainLayout.html' %}
{% load static %}

{% block content %}

<!--top-->
<h1>Accounting</h1>
<br>
<div class="row mb-5">
    <div class="col">
        <div class="dropdown">
            <a href="#" class="dd-select dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ panel }} Panel
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'accounting' 'profit' %}">
                    <span class ="icon"><ion-icon name="grid-outline"></ion-icon></span>
                    Profit
                </a>
                <a class="dropdown-item" href="{% url 'accounting' 'sales' %}">
                    <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                    Sales
                </a>
                <a class="dropdown-item" href="{% url 'accounting' 'expenses' %}">
                    <span class="logo"><ion-icon name="wallet-outline"></ion-icon></span>
                    Expenses
                </a>
            </div>
        </div>          
    </div>
    <div class="col"></div>
    <div class="col nprofit">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">New {{ panel }}</button>
    </div>
    <hr>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New {{panel}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="modal-body">
          <div class ="form-group">
              <div class="row"> </div>
              <div class="mb-1">
                  <label for="itemName" class="form-label">Item name:</label>
                  <input type="text" class="form-control input-sm" id="itemName" name="item_name">
              </div>

              <div class="mb-1">
                  <label for="itemPrice" class="form-label">Item Price:</label>
                  <input type="text" class="form-control input-sm" id="itemPrice" name="item_price">
              </div>

              <div class="mb-1">
                  <label for="category" class="form-label">Category:</label>
                  <input type="text" class="form-control input-sm" id="category" name="category">
              </div>

              <div class="mb-1">
                  <label for="dateOrdered" class="form-label">Date Ordered:</label>
                  <input type="date" class="form-control" id="dateOrdered" name="date_ordered">
              </div>

              <div class="mb-1">
                  <label for="quantity" class="form-label">Quantity:</label>
                  <input type="text" class="form-control" id="quantity" name="quantity">
              </div>
          </div>
      </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!--numbers-->


<!--reports-->
<h5>Reports</h5>
<div class="reportdiv my-5">
    <div class="card" style="width: 20vw; ">
         <canvas class ="pb-2" id="prodBreakdown"></canvas>
    </div>

    <div class="card" style="width: 20vw; ">
        <canvas class ="pb-2" id="prodBreakdown1"></canvas>
    </div>

    <div class="card" style="width: 20vw; ">
        <canvas class ="pb-2" id="prodBreakdown2"></canvas>
    </div>
</div>

<h5>Recently Updated</h5>
<div class="carddiv my-5">
    {% for item in item_tail %}
        <div class="card" style="width: 18rem;">
        <p style="color: #696969;font-size: 0.8rem;margin-left: 1vw; margin-top: 1vw;">{{ item.id }}</p>
        <div class="card-body">
            <h5 class="card-title">{{ item.item_name }}</h5>
            <p class="card-text">{{ item.date_ordered }}</p>
            <br>
            <hr>
            <p class ="card-price">PHP {{ item.item_price }}</p>
        </div>
        <div class="card-footer">
            <span>PAID</span>
        </div>
    </div>
    {% endfor %}
</div>



<div class="allProfs my-5">
    <div class="row my-5">
        <div class="col">
            <h5>All {{ panel }}</h5>
        </div>
        <div class="col"></div>
        <div class="col-5">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search {{ panel }}" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">Search</button>
              </div>
        </div>
    </div>

    <div class="sortbtn my-5">
        <h6 class ="mb-3">Sort by:</h6>
        <button type="button" class="btn btn-success sortingbtn">Date</button>
        <button type="button" class="btn btn-success sortingbtn">Name</button>
        <button type="button" class="btn btn-success sortingbtn">Price</button>
        <button type="button" class="btn btn-success sortingbtn">Category</button>
        <button type="button" class="btn btn-success sortingbtn">Quantity</button>
    </div>

    <div class="profTable">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                    </div>
                </th>
                <th scope="col">Product Name / Product ID</th>
                <th scope="col">Issued Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Amount/Status</th>
              </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                        </div>
                    </th>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.date_ordered }}</td>
                    <td>2 months ago</td>
                    <td>
                        <p class ="amountVal">PHP {{ item.item_price }}</p>
                        <span class ="amountStat">cleared</span>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

    <div class="footerAction">
        <button type="button" class="btn btn-success">Add Item</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
<script type="text/javascript">
    const prdBreak = document.getElementById('prodBreakdown');
    const prdBreak1 = document.getElementById('prodBreakdown1');
    const prdBreak2 = document.getElementById('prodBreakdown2');



    new Chart(prdBreak, {
      type: 'doughnut',
      data: {
        labels: [
          'Electronics',
          'Furniture',
          'Bags and Packages',
          'Accessories'
        ],
        datasets: [{
          label: 'Sales Breakdown by Product',
          data: [300, 100, 60, 30, 10],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(0,88,255)'
          ],
        }]
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: 'Sales Breakdown by Product',
          }
        }
      }
    });
    new Chart(prdBreak1, {
      type: 'doughnut',
      data: {
        labels: [
          'Electronics',
          'Furniture',
          'Bags and Packages',
          'Accessories'
        ],
        datasets: [{
          label: 'Sales Breakdown by Product',
          data: [300, 100, 60, 30, 10],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(0,88,255)'
          ],
        }]
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: 'Sales Breakdown by Product',
          }
        }
      }
    });
    new Chart(prdBreak2, {
      type: 'doughnut',
      data: {
        labels: [
          'Electronics',
          'Furniture',
          'Bags and Packages',
          'Accessories'
        ],
        datasets: [{
          label: 'Sales Breakdown by Product',
          data: [300, 100, 60, 30, 10],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(0,88,255)'
          ],
        }]
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: 'Sales Breakdown by Product',
          }
        }
      }
    });
</script>

<script type="text/javascript">
    let valueDisplays = document.querySelectorAll(".numbers");
    let interval = 100;
    valueDisplays.forEach((valueDisplay) => {
    let startValue = 0;
    let endValue = parseInt(valueDisplay.getAttribute("data-val"));
    let duration = Math.floor(interval / endValue);
    let counter = setInterval(function () {
    startValue += 1;
    valueDisplay.textContent = startValue;
    if (startValue == endValue) {
      clearInterval(counter);
    }
  }, duration);
});

</script>

{% endblock %}