{% extends 'Main/Landing/mainLayout.html' %}
{% load static %}
{% block content %}

<div class="cardBox">
    <!-- <div class="card">
        <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Inventory</div>
        </div>
        <div class="iconBx">
            <ion-icon name="server-outline"></ion-icon>
        </div>
    </div> -->

    <div class="Scard">
        <div>
            <div class="numbers" data-val="{{ sales }}"><span>₱</span> {{ sales }}</div>
            <div class="cardName">Sales</div>
        </div>
        <div class="iconBx">
            <ion-icon name="cart-outline"></ion-icon>
        </div>
    </div>

    <div class="Scard">
        <div>
            <div class="numbers" data-val="{{ revenue }}"><span>₱</span> {{ revenue }}</div>
            <div class="cardName">Revenue</div>
        </div>
        <div class="iconBx">
            <ion-icon name="card-outline"></ion-icon>
        </div>
    </div>

    <div class="Scard">
        <div>
            <div class="numbers" data-val="{{ expense }}"><span>₱</span> {{ expense }}</div>
            <div class="cardName">Expenses</div>
        </div>
        <div class="iconBx">
            <ion-icon name="cash-outline"></ion-icon>
        </div>
    </div>

    <div class="Scard">
        <div>
            <div class="numbers" data-val="{{ net_income }}"><span>₱</span> {{ net_income }}</div>
            <div class="cardName">Net Income</div>
        </div>
        <div class="iconBx">
            <ion-icon name="stats-chart-outline"></ion-icon>
        </div>
    </div>
</div>

<!-- charts -->
<div class="graphBox">
    <!-- <h2>TEXT</h2> -->
    <div class="box">
        <canvas id="SalesByItem"></canvas>
    </div>
    <div class="box">
        <canvas id="SalesByMonth"></canvas>
    </div>
</div>

<!-- details lists -->
<div class="details">
    <div class="recentOrders table-responsive">
            <div class="cardHeader">
                <h2>Recent Items</h2>
                <a href="{% url 'inventory' 'all' %}"><button class="btn btn-primary">View All</button></a>
            </div>
            <table class="table table-striped table-hover" style="height: 90%;">
                <thead>
                    <tr>
                        <td >Item Name</td>
                        <td class="text-center">Item Price</td>
                        <td class="text-center">Item Category</td>
                        <td class="text-center">Date Ordered</td>
                        <td class="text-center">Quantity</td>
                    </tr>
                </thead>
                <tbody>
                    {% for recent_item in recent_items %}
                        <tr>
                            <td >{{ recent_item.item_name }}</td>
                            <td class="text-center">{{ recent_item.item_price }}</td>
                            <td class="text-center">{{ recent_item.category }}</td>
                            <td class="text-center">{{ recent_item.date_ordered }}</td>
                            <td class="text-center">{{ recent_item.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>

<script type="text/javascript">
    const ctx = document.getElementById('SalesByMonth');
    const ctxPie = document.getElementById('SalesByItem');
    const prdBreak = document.getElementById('prodBreakdown');


    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June','July','August', 'September','October','November', 'December'],
        datasets: [{
          label: 'Earnings in ₱',
          data: [0, 0, 0, 0, 0, '{{ revenue }}', 0,0,0,0,0,0],
          backgroundColor: [
            'rgba(255, 99, 132, 0.9)',
            'rgba(54, 162, 235, 0.9)',
            'rgba(255, 205, 86, 0.9)',
            'rgba(75, 192, 192, 0.9)',
            'rgba(153, 102, 255, 0.9)',
            'rgba(255, 159, 64, 0.9)',
            'rgba(201, 203, 207, 0.9)',
            'rgba(255, 99, 132, 0.9)',
            'rgba(54, 162, 235, 0.9)',
            'rgba(255, 205, 86, 0.9)',
            'rgba(75, 192, 192, 0.9)',
            'rgba(153, 102, 255, 0.9)',
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 205, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgb(201, 203, 207)',
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 205, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            responsive: true,
          }
        },
        plugins: {
            title: {
                display: true,
                text: 'Sales by Month',
            }
        }
      }
    });

    new Chart(ctxPie, {
        type: 'pie',
        data: {
            labels: [
                'Office Supplies',
                'Furniture',
                'Technology'
            ],
            datasets: [{
                label: 'Top Sales',
                data: ['{{ office_sales }}', '{{ furniture_sales }}', '{{ tech_sales }}'],
                backgroundColor: [
                  'rgb(255, 99, 132)',
                  'rgb(54, 162, 235)',
                  'rgb(255, 205, 86)'
                ],
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Top Sales',
                }
            }
        }
      });

    new Chart(prdBreak, {
      type: 'doughnut',
      data: {
        labels: [
          'Electronics',
          'Furniture',
          'Bags and Packages',
          'Accessories'
        ],
        datasets: [{
          label: 'Sales Breakdown by Product',
          data: [300, 100, 60, 30, 10],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(0,88,255)'
          ],
        }]
      },
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: 'Sales Breakdown by Product',
          }
        }
      }
    });
</script>


</script>


{% endblock %}