{% extends 'Main/Landing/mainLayout.html' %}
{% load static %}

{% block content %}

<!--top-->
<h1>Accounting</h1>
<br>
<div class="row mb-5">
    <div class="col">
        <div class="dropdown">
            <a href="#" class="dd-select dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Expenses Panel
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'profit' %}">
                    <span class ="icon"><ion-icon name="grid-outline"></ion-icon></span>
                    Profit
                </a>
                <a class="dropdown-item" href="{% url 'sales' %}">
                    <span class="icon"><ion-icon name="cash-outline"></ion-icon></span>
                    Sales
                </a>
                <a class="dropdown-item disabled" href="{% url 'expenses' %}">
                    <span class="logo"><ion-icon name="wallet-outline"></ion-icon></span>
                    Expenses
                </a>
            </div>
        </div>
    </div>
    <div class="col"></div>
    <div class="col nprofit">
        <button type="button" class="btn btn-success">New Expenses</button>
    </div>
    <hr>
</div>


<!--numbers-->
<div class="row mb-5">
    <div class="col moneySec mx-5">
        <div class="numbers" data-val="760"></div>
        <span>overdue</span>
    </div>
    <div class="col moneySec mx-5">
        <div class="numbers" data-val="760"></div>
        <span>total outstanding</span>
    </div>
    <div class="col moneySec mx-5">
        <div class="numbers" data-val="760"></div>
        <span>in draft</span>
    </div>
</div>


<!--reports-->
<h5>Reports</h5>
<div class="reportdiv my-5">
    <div class="card" style="width: 20vw; ">
         <canvas class ="pb-2" id="prodBreakdown"></canvas>
    </div>

    <div class="card" style="width: 20vw; ">
        <canvas class ="pb-2" id="prodBreakdown1"></canvas>
    </div>

    <div class="card" style="width: 20vw; ">
        <canvas class ="pb-2" id="prodBreakdown2"></canvas>
    </div>
</div>

<h5>Recently Updated</h5>
<div class="carddiv my-5">
    <div class="card" style="width: 18rem;">
        <p style="color: #696969;font-size: 0.8rem;margin-left: 1vw; margin-top: 1vw;">0000016</p>
        <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">04/04/2023.</p>
            <br>
            <hr>
            <p class ="card-price">$339</p>
        </div>
        <div class="card-footer">
            <span>PAID</span>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <p style="color: #696969;font-size: 0.8rem;margin-left: 1vw; margin-top: 1vw;">0000016</p>
        <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">04/04/2023.</p>
            <br>
            <hr>
            <p class ="card-price">$339</p>
        </div>
        <div class="card-footer">
            <span>PAID</span>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <p style="color: #696969;font-size: 0.8rem;margin-left: 1vw; margin-top: 1vw;">0000016</p>
        <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">04/04/2023.</p>
            <br>
            <hr>
            <p class ="card-price">$339</p>
        </div>
        <div class="card-footer">
            <span>PAID</span>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <p style="color: #696969;font-size: 0.8rem;margin-left: 1vw; margin-top: 1vw;">0000016</p>
        <div class="card-body">
            <h5 class="card-title">Product 1</h5>
            <p class="card-text">04/04/2023.</p>
            <br>
            <hr>
            <p class ="card-price">$339</p>
        </div>
        <div class="card-footer">
            <span>PAID</span>
        </div>
    </div>
</div>



<div class="allProfs my-5">
    <div class="row my-5">
        <div class="col">
            <h5>All Expenses</h5>
        </div>
        <div class="col"></div>
        <div class="col-5">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search Expenses" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">Search</button>
              </div>
        </div>
    </div>

    <div class="sortbtn my-5">
        <h6 class ="mb-3">Sort by:</h6>
        <button type="button" class="btn btn-success sortingbtn">Date</button>
        <button type="button" class="btn btn-success sortingbtn">Name</button>
        <button type="button" class="btn btn-success sortingbtn">Price</button>
        <button type="button" class="btn btn-success sortingbtn">Category</button>
        <button type="button" class="btn btn-success sortingbtn">Quantity</button>
    </div>

    <div class="profTable">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Product Name / Product ID</th>
                <th scope="col">Issued Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Amount/Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="footerAction">
        <button type="button" class="btn btn-success">Add Item</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.0/dist/chart.umd.min.js"></script>
<script src="{% static 'main/scripts/accounting/charts.js' %}"></script>

<script type="text/javascript">
    let valueDisplays = document.querySelectorAll(".numbers");
    let interval = 100;
    valueDisplays.forEach((valueDisplay) => {
    let startValue = 0;
    let endValue = parseInt(valueDisplay.getAttribute("data-val"));
    let duration = Math.floor(interval / endValue);
    let counter = setInterval(function () {
    startValue += 1;
    valueDisplay.textContent = startValue;
    if (startValue == endValue) {
      clearInterval(counter);
    }
  }, duration);
});

</script>

{% endblock %}