{% extends 'Main/Landing/mainLayout.html' %}
{% load static %}

{% block content %}
<h1>Profile</h1>
<div class = "row">
    <div class ="col-12">
        <form method="post">
            {% csrf_token %}
            <div class ="profileCardBox">
                <div class ="row mb-5">
                    <h5><b>Login Information</b></h5>
                    <div class ="col-6">
                        <label for="input-1">Username</label>
                        <input type="text" class="form-control" autocomplete="off" name ="username" id ="username" minlength="6" placeholder="Username" value ="{{username}}">
                    </div>
                    <div class ="col-6">
                        <label for="input-1">Password</label><br>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Change Password
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="pwfield mb-3">
                                        <label for="input-1">New Password</label>
                                        <input type="password" class="form-control" autocomplete="off" id ="tmppw" placeholder="Password" minlength="6" value ="" required>
                                    </div>
                                    <div class="pwfield mb-3">
                                        <label for="input-1">Confirm Password</label>
                                        <input type="password" class="form-control" autocomplete="off" id ="tmpcpw" placeholder="Confirm Password" minlength="6" value ="" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" onclick="storepw()" class="btn btn-primary" data-bs-dismiss="modal">Update Password</button>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>

                <div class ="row mt-5 mb-2">
                    <h5><b>Personal Information</b></h5>
                    <div class ="col">
                        <label for="input-4">First Name</label>
                        <input type="text" class="form-control" name ="first_name" id ="firstName" placeholder="First name" value="{{user.first_name}}">
                    </div>
                    <div class ="col">
                        <label for="input-5">Last Name</label>
                        <input type="text" class="form-control" name ="last_name" id ="lastName" placeholder="Last name" value="{{user.last_name}}">
                    </div>
                    <div class ="col">
                        <label for="input-6">Store Name</label>
                        <input type="text" class="form-control" name ="store_name" id ="storeName" placeholder="Store name" value="{{ store }}">
                    </div>
                </div>
                <div class ="row mb-5">
                    <div class ="col">
                        <label for="input-8">Address</label>
                        <input type="text" class="form-control" name ="address" id ="address" placeholder="Address">
                    </div>
                    <div class ="col">
                        <input type="hidden" id="password" name="password" value="">
                        <input type="hidden" id="confirm_pass" name="confirm_pass" value="">
                    </div>
                </div>
                <div class ="row">
                    <div class ="col"></div>
                    <div class ="col"></div>
                    <div class ="col prof-buttons">
                        <button type="button" class="btn btn-danger">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function storepw() {
        temp_pw = document.getElementById("tmppw").value;
        temp_cpw = document.getElementById("tmpcpw").value;

        password = document.getElementById("password");
        confirm_pass = document.getElementById("confirm_pass");

        password.value = temp_pw;
        confirm_pass.value = temp_cpw;

        alert("Password is saved. Click 'Submit' to update.");
    }
</script>
{% endblock %}
