{% extends 'Main/Landing/mainLayout.html' %}
{% load static %}

{% block content %}
<div class = "row">
    <div class ="col-12">
        <div class ="profileCardBox">
            <img class="rounded-circle" src ="https://via.placeholder.com/201x207">
            <form>
                <div class ="row top-buffer">
                    <div class ="col">
                        <label for="input-1">Username</label>
                        <input type="text" class="form-control" id ="input-1" placeholder="First name">
                    </div>
                    <div class ="col">
                        <label for="input-2">Username</label>
                        <input type="text" class="form-control" id ="input-2" placeholder="Last name">
                    </div>
                    <div class ="col">
                        <label for="input-3">Username</label>
                        <input type="text" class="form-control" id ="input-3" placeholder="Last name">
                    </div>
                </div>
                <div class ="row">
                    <div class ="col">
                        <label for="input-4">Username</label>
                        <input type="text" class="form-control" id ="input-4" placeholder="First name">
                    </div>
                    <div class ="col">
                        <label for="input-5">Username</label>
                        <input type="text" class="form-control" id ="input-5" placeholder="Last name">
                    </div>
                    <div class ="col">
                        <label for="input-6">Username</label>
                        <input type="text" class="form-control" id ="input-6" placeholder="Last name">
                    </div>
                </div>
                <div class ="row">
                    <div class ="col">
                        <label for="input-7">Username</label>
                        <input type="text" class="form-control" id ="input-7" placeholder="First name">
                    </div>
                    <div class ="col">
                        <label for="input-8">Username</label>
                        <input type="text" class="form-control" id ="input-8" placeholder="Last name">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
